<html>

    <h3>Platforms Table</h3>

    <table>
        <thead>
            <th>Search</th>
        </thead>
		<tbody>
			<tr>
				<td><input type="text" name="searchName" size="10" value=""></td>
				<td><input type="text" name="searchManu" size="10" value=""></td>
				<td><input type="date" name="searchYear" size="10" value=""></td>
				<td><select id="games-multi-select" multiple>
					<option value="" selected>Select Games</option>
					{{#each games}}
					<option value="{{gameID}}">{{title}}</option>
					{{/each}}
				</select></td>
				<td><button class="searchbtn" title="click to search with given fields">Search</button></td>
			</tr>
		</tbody>
    </table>
    <br>
    <table>
        <thead>
            <th>Name</th>
            <th>Manufacturer</th>
            <th>Launch Year</th>
            <th>Games</th>
        </thead>
		<tbody>
		{{#each platforms}}
			<tr>
				<td>{{systemName}}</td>
				<td>{{manufacturer}}</td>
				<td>{{launchYear}}</td>
				<td><a href="/games">see games</a></td>
				<td><button class="editbtn" title="click to edit entry" onclick="location.href='/platforms/edit?platform={{platformID}}';">edit</button></td>
				<td><button class="removebtn" title="click to remove entry"  onclick="location.href='/platforms/delete?platform={{platformID}}';">remove</button></td>
			</tr>
		{{/each}}
		</tbody>
    </table>
    <br>
    <button class="addbtn" onclick="location.href='/platforms/add';" title="click to add entry">add</button>
</html>