<html lang="en">
<h3>Edit Platform</h3>
<form id="editPlatform" action="/platforms/edit" method="post">
			{{#each platforms}}
			<input type="text" name="platformID" value="{{platformID}}" hidden>
            name: <input type="text" name="systemName" value="{{systemName}}"><br>
            manufacturer: <input type="text" name="manufacturer" value="{{manufacturer}}"><br>
            launch year: <input type="date" name="launchYear" value="{{launchYear}}"><br>
			{{/each}}
             <!--- Checkbox multi select code from https://stackoverflow.com/questions/19206919/how-to-create-checkbox-inside-dropdown --->
            games: <div id="games-multi-select" class="checkbox-div" tabindex="100">
				<span class="checkbox-main">Select Games</span>
				<ul class="checkbox-items">
				{{#each games}}
					<li> <input type="checkbox" name="gamesInput" value="{{gameID}}">{{title}}</li>
				{{/each}}
				</ul>
			</div></td><br>
            <input type="submit" value="Submit">
</form>

<br>

</body>
</html>