<html>
<h3>Players</h3>
<table>
    <thead>
    <th>ID</th>
    <th>Email</th>
    <th>First Name</th>
    <th>Last Name</th>
    <th>Gamer Tag</th>
    </thead>
    <tbody>
    {{#each people}}
        <tr>
            <td>{{playerID}}</td>
            <td>{{email}}</td>
            <td>{{firstName}}</td>
            <td>{{lastName}}</td>
            <td>{{gamerTag}}</td>
            <td><button onclick="deletePerson({{id}})">Delete</button></td>
            <td><a href="/players/{{id}}">Update</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>
<form id="addPlayer" action="/players" method="post">
            email: <input type="text" name="email"><br>
            firstName: <input type="text" name="firstName"><br>
            lastName: <input type="text" name="lastName"><br>
            gamerTag: <input type="text" name="gamerTag"><br>
            <input type="submit" value="Submit">
        </form>
    </table>

</html>