<html>
<h3>Edit Publisher</h3>
<form id="editPublisher" action="/publishers/edit" method="post">
			{{#each publishers}}
			<input type="text" name="publisherID" value="{{publisherID}}" hidden>
            name: <input type="text" name="publisherName" value="{{publisherName}}"><br>
			headquarters: <input type="text" name="headquarters" value="{{headquarters}}"><br>
			{{/each}}
            games: <select name="games">
				<option value="" selected>Select Games</option>
				{{#each games}}
                <option value="{{gameID}}">{{title}}</option>
				{{/each}}
			</select></td><br>
			employees: <select id="employees-multi-select" multiple>
				<option value="" selected>Select Employees</option>
				{{#each players}}
				<option value="{{playerID}}">{{firstName}}</option>
				{{/each}}
			</select></td>
</select><br>
            <input type="submit" value="Submit">
</form>

<br>
<p>Functionality for adding relationships between games and platforms through this menu not yet implemented</p>

</body>
</html>
